
@model List<TheBookCave.Models.ViewModels.PurchasesViewModel>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

<link rel="stylesheet" href="~/css/cart.css" />

@{
    if (Model.Count > 0) 
    {
        <div class="cart">
            <h1 id="cart-title">Your purchased items</h1>
            <div class="cart-items">
                    @foreach(var item in @Model)
                    {
                        double rating = @item.Rating;
                        <div class="book-item">
                            <a asp-controller="Book" asp-action="Details" asp-route-title="@item.Title"><img class="cart-img" src="@item.Image" alt="No Image"></a>
                            <div class="book-info"> 
                                <a asp-controller="Book" asp-action="Details" asp-route-title="@item.Title">
                                    <h3 class="item-title">@item.Title</h3>
                                </a>
                                <h3>@item.Author</h3>
                                @await Html.PartialAsync("_StarsPartial", rating)
                                <h4>$ @item.Price</h4>
                                <h4>Quantity: @item.Quantity</h4>
                                <h4>Date of purchase: @item.DateCreated</h4>
                            </div>
                        </div>
                    }
            </div>
        </div>
    }
    else
    {
        <div>
            <h2 class="text-center">You have no purchase history</h2>
            <p class="text-center">You can find loads of great selections on our home page...</p>
            <p class="text-center"><a asp-controller="Home" asp-action="Index" class="btn">Go back</a></p>
        </div>
    }
}