@model TheBookCave.Models.ViewModels.ShoppingCartViewModel
<link rel="stylesheet" href="~/css/styles.top10.css" />

@{
    if (Model.CartItems.Count > 0) 
    {
        <h1>Your Items</h1>
        <div class="item">
            <div class="shopping-cart-items">
                @foreach(var item in @Model.CartItems)
                {
                    <div class="book-item">
                        <a asp-controller="Book" asp-action="Details" asp-route-title="@item.BookItem.Title"><img class="img" src="@item.BookItem.Image" alt="No Image"></a>
                        <h2 class="item-title">@item.BookItem.Title</h2>
                        <h3>@item.BookItem.Author</h3>
                        <h3>@item.BookItem.Price</h3>
                        <h4>@item.BookItem.Rating</h4>
                    </div>
                    <div>
                        <a href="#">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                }
                <div class="total-price">
                    @Model.CartTotal
                    <button value="Checkout"></button>
                    <h4>We accept:</h4>
                    <img src="#" alt="No image">
                </div>
            </div>
        </div>

    }
    else
    {
        <div>
            <h2>Your cart is empty!</h2>
            <p>You can find loads of great selections on our home page...</p>
            <button value="Go Back"></button>
        </div>
    }
}
