@model TheBookCave.Models.ViewModels.ShoppingCartViewModel
<link rel="stylesheet" href="~/css/styles.cart.css" />

@Model.ShoppingCart.CartItems.Count = 0;

@{
    if (Model.ShoppingCart.CartItems.Count > 0) 
    {
        <div class="cart">
            <h1 id="cart-title">Your Items</h1>
            <div class="cart-items">
                    @foreach(var item in @Model.ShoppingCart.CartItems)
                    {
                        
                        <div class="book-item">
                            <a asp-controller="Book" asp-action="Details" asp-route-title="@item.BookItem.Title"><img class="cart-img" src="@item.BookItem.Image" alt="No Image"></a>
                            <div class="book-info"> 
                                <a asp-controller="Book" asp-action="Details" asp-route-title="@item.BookItem.Title">
                                    <h2 class="item-title">@item.BookItem.Title</h2>
                                </a>
                                <h3>@item.BookItem.Author</h3>
                                <h4>$ @item.BookItem.Price</h4>
                                <h4>Rating: @item.BookItem.Rating stars</h4>
                            </div>
                            <div class="trash">
                                <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                        
                    }
            </div>
            <div class="checkout-window">
                <div class="total-price">
                    <h4>Total price:</h4>
                    <h5>US$ @Model.CartTotal</h5>    
                    <button id="btn" class="btn btn-default btn-primary">Checkout</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <h2>Your cart is empty!</h2>
            <p>You can find loads of great selections on our home page...</p>
            <button value="Go Back"></button>
        </div>
    }
}
