@model dynamic
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    var email = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault( c => c.Type == "Email")?.Value;
}
<link rel="stylesheet" href="~/css/styles.cart.css" />

@{
    if (Model.bookItems.Count > 0) 
    {
        <div class="cart">
            <h1 id="cart-title">Your Items</h1>
            <div class="cart-items">
                    @foreach(var item in @Model.bookItems)
                    {
                        double rating = @item.Rating;
                        <div class="heart-img">
                            <span> @Html.ActionLink("",
                                "AddToWishList", "WishList", 
                                new { bookId = @item.Id }, 
                                new { @class= "glyphicon glyphicon-heart heart-icon" })
                            </span>
                        </div>
                        <div class="book-item">
                            <a asp-controller="Book" asp-action="Details" asp-route-title="@item.Title"><img class="cart-img" src="@item.Image" alt="No Image"></a>
                            <div class="book-info"> 
                                <a asp-controller="Book" asp-action="Details" asp-route-title="@item.Title">
                                    <h2 class="item-title">@item.Title</h2>
                                </a>
                                <h3>@item.Author</h3>
                                @await Html.PartialAsync("_StarsPartial", rating)
                                <h4>$ @item.Price</h4>
                                <h4>Quantity: @item.Quantity</h4>  
                            </div>
                            <div class="trash">
                                <span> @Html.ActionLink("",
                                 "RemoveFromCart", "ShoppingCart", 
                                 new { bookId = @item.Id }, 
                                 new { @class= "glyphicon glyphicon-trash" })
                                 </span>
                            </div>
                        </div>
                        
                    }
            </div>
            <div class="checkout-window">
                <div class="total-price">
                    <h4>Total price:</h4>
                    <h5>US$ @Model.cartItems.CartTotal</h5>
                    <a id="btn" class="btn btn-default btn-primary" asp-controller="ShoppingCart" asp-action="Checkout" asp-route-email="@email">Checkout</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <h2>Your cart is empty!</h2>
            <p>You can find loads of great selections on our home page...</p>
            <a asp-controller="Home" asp-action="Index"> <span><button class="btn btn-primary">Go back</button></span></a>
        </div>
    }
}
