@model dynamic

<div>
    <h2>Review</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <td>@Model.account.FirstName @Model.account.LastName</td>
            </tr>
            <tr>
                <th>Billing address</th>
                <td>@Model.account.BillingAddressStreet @Model.account.BillingAddressHouseNumber @Model.account.BillingAddressLine2
                    </br>
                    @Model.account.BillingAddressZipCode @Model.account.BillingAddressCity
                    </br>
                    @Model.account.BillingAddressCountry
                </td>
            </tr>
            <tr>
                <th>Delivery address</th>
                <td>@Model.account.DeliveryAddressStreet @Model.account.DeliveryAddressHouseNumber @Model.account.DeliveryAddressLine2
                    </br>
                    @Model.account.DeliveryAddressZipCode @Model.account.DeliveryAddressCity
                    </br>
                    @Model.account.DeliveryAddressCountry
                </td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <th>$@Model.cartItems.CartTotal</th>
            </tr>
        </table>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="ConfirmationStep">Confirm</a>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="Checkout" asp-route-email="@Model.account.Email">Edit</a>
</div>