@{
    Layout=null;
}

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var firstName = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault( c => c.Type == "FirstName")?.Value;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/for-employee.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
    <h2 class="text-center">Welcome to the employee sites @firstName!</h2>
    <div>
        <p class="text-center "><a asp-action="Index" asp-controller="Home" class="btn">Home</a></p>
        <p class="text-center "><a asp-action="Create" asp-controller="EmployeeSite" class="btn">Add book</a></p>
        <p class="text-center "><a asp-action="Register" asp-controller="EmployeeSite" class="btn">Register a new employee</a></p>
    </div>


    <table>
        <tr>
            <th><a asp-controller="EmployeeSite" asp-action="Index">Title</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbyAuthor">Author</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbyGenre">Genre</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbyPrice">Price</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbyDiscount">Discount</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbyQuantity">Quantity</a></th>
            <th><a asp-controller="EmployeeSite" asp-action="OrderbySold">Sold</a></th>
        </tr>
        </br>
        @foreach(var book in @Model)
        {
            <tr >
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>$@book.Price</td>
                <td>@book.Discount</td>
                <td>@book.Quantity</td>
                <td>@book.BoughtCopies</td>
                <td><a asp-controller="EmployeeSite" asp-action="Change" asp-route-id="@book.Id"><span id="delete-button" class="glyphicon glyphicon-wrench"></span></a></td>
                <td><a asp-controller="EmployeeSite" asp-action="Delete" asp-route-id="@book.Id"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        }
    </table>
</body>
</html>

