@model List<TheBookCave.Models.ViewModels.BookListViewModel>

<div id="front-page-books">

    <div class="dropdown pull-right" id="dropdown-sort">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a asp-controller="Book" asp-action="OrderAlphabetical">A-Z</a></li>
            <li><a asp-controller="Book" asp-action="Newest">What's new</a></li>
            <li><a asp-controller="Book" asp-action="PriceLowToHigh">Price: low to high</a></li>
            <li><a asp-controller="Book" asp-action="PriceHighToLow">Price: high to low</a></li>
        </ul>
    </div>

    @foreach(var book in @Model)
    {
        <div id="default-book">
            <div class="heart-img">
                <span class="glyphicon glyphicon-heart heart-icon"></span>
            </div>
            <a asp-controller="Book" asp-action="Details" asp-route-title="@book.Title"><img id="book-img" src="@book.Image" alt="No Images"></a>
            <h2 id="book-title"><a asp-controller="Book" asp-action="Details" asp-route-title="@book.Title">@book.Title</a></h2>
            <h3 class="book-important">@book.Author</h3>
            <h4 class="book-important">Rating: @book.Rating</h4>
            <h4 class="book-important">$ @book.Price</h4>
            <button class="btn btn-primary addcart">Add to cart</button>
        </div>
    }

    
</div>

