@model TheBookCave.Models.ViewModels.BookListViewModel
<link rel="stylesheet" href="~/css/details.css" />


<div class="detailsContainer">

        <div class="heart-img">
            <span class="glyphicon glyphicon-heart heart-icon"></span>
        </div>
        <div class="detailsImage">
            <img src="@Model.Image" alt="No Images" class="cover">
        </div>
        <div class="detailsDescription">
            <h2>@Model.Title</h2>
            <hr>
            <h4>@Model.Author</h4>
            
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="@Model.Genre"><h4>@Model.Genre</h4></a>
            
            @await Html.PartialAsync("_StarsPartial", @Model.Rating)
            
            <h4 class="price">$ @Model.Price</h4>
            <button class="btn btn-default btn-primary">Add to cart</button>
            <p class="description">@Model.Description</p>
</div>
            <div id="review">
            <form method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="Rating">Your Rating</label>
                    <select name="Rating" class="form-control">
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Comment">Your Review</label>
                    <input type="text"  id="comment" class="form-control" name="Comment">
                </div>
                <div class="form-group">
                    <label for="Username">Your Username</label>
                    <input type="text" class="form-control" name="UserName">
                </div>
                    <input type="text" class="form-control" id="book-id" name="BookId" value="@Model.Id">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default btn-primary"/>
                </div>
            </form>
            </div>