@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models
@using System.Collections.Generic

@inject SignInManager<ApplicationUser> SignInManager

@model dynamic

@{
    double number = @Model.Book.Rating;
}

<link rel="stylesheet" href="~/css/details.css" />


<div class="detailsContainer">
    <div class="heart-img">
        @Html.ActionLink(" ", "AddToWishList", "WishList", new { bookId = @Model.Book.Id }, new { @class ="glyphicon glyphicon-heart heart-icon addToWishList" })
    </div>

    <div class="detailsImage">
        <img src="@Model.Book.Image" alt="No Images" class="cover">
    </div>

    <div class="detailsDescription">
        <h2>@Model.Book.Title</h2>
        <hr>
        <h4>@Model.Book.Author</h4>
        
        <a asp-controller="Book" asp-action="Genre" asp-route-genre="@Model.Book.Genre"><h4>@Model.Book.Genre</h4></a>

        @await Html.PartialAsync("_StarsPartial", @number)

        @{
            if(@Model.Book.Price != @Model.Book.DiscountPrice)
            {
                <h4 class="price" id="detail-oldprice">$@Model.Book.Price</h4>
                <h4 class="price" id="detail-newprice">$@Model.Book.DiscountPrice</h4>
            }
            else
            {
                <h4 class="price">$@Model.Book.Price</h4>
            }
        }
        @{
            string strengur = "isadded" + @Model.Book.Id;
        }
        <div onclick="itemadded(@Model.Book.Id)"  id="div-onclick">
            @Html.ActionLink("Add to cart", "AddToCart",
             "ShoppingCart", 
             new { bookId = @Model.Book.Id }, 
             new { @class = "addToCart btn btn-primary addcart", id = @strengur})
        </div>
        <p class="description">@Model.Book.Description</p>
    </div>
</div>
@if(SignInManager.IsSignedIn(User)) {
    <div id="review">
        <form method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="Rating">Your Rating</label>
                <select name="Rating" class="form-control">
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Comment">Your Review</label>
                <input type="text"  id="comment" class="form-control" name="Comment">
            </div>
                <input type="text" class="form-control" id="book-id" name="BookId" value="@Model.Book.Id">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default btn-primary"/>
            </div>
        </form>
    </div>
}
@{
    bool variable = true;
}
@foreach(var item in @Model.Reviews)
{
    if(variable == true){
        <h3>Reviews by users</h3>
        variable = false;
    }
    <div class="onereview">
        <p>Review by: @item.UserName</p>
        <p>@item.Rating stars out of 5</p>
        <p>@item.Comment</p>
    </div>
}