@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<link rel="stylesheet" href="~/css/details.css" />

<div id="detailsContainer">
@{
    foreach(var book in Model)
    {
        <div id="detailsImage">
            <img src="@book.Image" alt="No Images" id="cover">
        </div>
        <div id="detailsDescription">
            <h2>@book.Title</h2>
            <h4>@book.Author</h4>
            <h4>@book.Genre</h4>
            
            <span class="glyphicon glyphicon-star stjornur"></span>
            <span class="glyphicon glyphicon-star stjornur"></span>
            <span class="glyphicon glyphicon-star stjornur"></span>
            <span class="glyphicon glyphicon-star stjornur"></span>
            <span class="glyphicon glyphicon-star stjornur"></span>
            <br>
            
            <h4 id="price">$ @book.Price</h4>
            <button class="btn btn-default btn-primary">Add to cart</button>
            <p id="description">@book.Description</p>
            <hr>
            <form>
            <h5 id="yourrating">Your Rating:</h5>
            <span class="glyphicon glyphicon-star-empty stjornur-tomar"></span>
            <span class="glyphicon glyphicon-star-empty stjornur-tomar"></span>
            <span class="glyphicon glyphicon-star-empty stjornur-tomar"></span>
            <span class="glyphicon glyphicon-star-empty stjornur-tomar"></span>
            <span class="glyphicon glyphicon-star-empty stjornur-tomar"></span>
            <h5>Your Review:</h5>
            <textarea id="yourreview"></textarea>
            <input type="submit" value="Submit" class="btn btn-default btn-primary"/>
            </form>
        </div>

        break;
    }
}
</div>