@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<link rel="stylesheet" href="~/css/stars-position.css" />
<script src="~/js/site.js"></script>
    <div id="front-page-books">
        
    @foreach(var book in @Model)
    {
        <div id="default-book">
            <div class="heart-img">
                @Html.ActionLink(" ", "AddToWishList", "WishList", new { bookId = @book.Id }, new { @class ="glyphicon glyphicon-heart heart-icon addToWishList" })
            </div>
            <a asp-controller="Book" asp-action="Details" asp-route-title="@book.Title"><img id="book-img" src="@book.Image" alt="No Images"></a>
            <h2 id="book-title"><a asp-controller="Book" asp-action="Details" asp-route-title="@book.Title">@book.Title</a></h2>
            <h3 class="book-important">@book.Author</h3>
            @await Html.PartialAsync("_StarsPartial", @book.Rating)

            @{
                if(@book.Price != @book.DiscountPrice)
                {
                    <div id="price">
                        <div id="oldprice-div">
                            <h4  id="old-price">$@book.Price</h4>
                        </div>
                        <div id="newprice-div">
                            <h4 id="new-price">$@book.DiscountPrice</h4>
                        </div>
                        
                    </div>
                }
                else
                {
                    <h4 class="book-important">$ @book.Price</h4>
                    
                }
            }
            @{
                string strengur = "isadded" + @book.Id;
            }
                <div onclick="itemadded(@book.Id)" id="div-onclick">
                    @Html.ActionLink("Add to cart", "AddToCart",
                    "ShoppingCart", 
                    new { bookId = @book.Id }, 
                    new { @class = "addToCart btn addcart", id = @strengur})
                </div>
        </div>
    }
    </div>