@model List<TheBookCave.Models.ViewModels.BookListViewModel>

<div>
    @foreach(var book in @Model)
    {
        <div class="default-book">
            <p><img src="@book.Image" alt="No Images"></p>
            <p>@book.Title</p>
            <p>@book.Author</p>
            <p>@book.Rating</p>
            <p>@book.Price</p>
        </div>
    }
</div>
