@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<link rel="stylesheet" href="~/css/styles-details.css" />

@{
    int i = 0;
}
@{
    foreach(var book in Model)
    {
        i++;
        <div class="detailsContainer">
            <div class="heart-img">
                <span class="glyphicon glyphicon-heart heart-icon"></span>
            </div>
            <div class="detailsImage">
                <div id="badge">
                    <img src="~/images/badge.png" alt="No image">
                    <p>@i</p>
                </div>
                <img src="@book.Image" alt="No Images" class="cover">
            </div>
            <div class="detailsDescription">
                <h2>@book.Title</h2>
                <hr>
                <h4>@book.Author</h4>
                <a asp-controller="Book" asp-action="Genre" asp-route-genre="@book.Genre"><h4>@book.Genre</h4></a>
                
                <span class="glyphicon glyphicon-star stjornur"></span>
                <span class="glyphicon glyphicon-star stjornur"></span>
                <span class="glyphicon glyphicon-star stjornur"></span>
                <span class="glyphicon glyphicon-star stjornur"></span>
                <span class="glyphicon glyphicon-star stjornur"></span>
                <br>
                
                <h4 class="price">$ @book.Price</h4>
                <button class="btn btn-default btn-primary">Add to cart</button>
                <p class="description">@book.Description</p>
                <hr>
            </div>
        </div>
    }
}