@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<link rel="stylesheet" href="~/css/details-style.css" />

@{
    int i = 0;
}

    @foreach(var book in Model)
    {
        i++;
        <div class="detailsContainer">
             <div class="heart-img">
                @Html.ActionLink(" ", "AddToWishList", "WishList", new { bookId = @book.Id }, new { @class ="glyphicon glyphicon-heart heart-icon addToWishList" })
            </div>
            <div class="detailsImage">
                <div id="badge">
                    <img src="~/images/badge.png" alt="No image">
                    <p>@i</p>
                </div>
                <img src="@book.Image" alt="No Images" class="cover">
            </div>
            <div class="detailsDescription">
                <a asp-controller="Book" asp-action="Details" asp-route-title="@book.Title"><h2>@book.Title</h2></a>
                <hr>
                <h4>@book.Author</h4>
                <a asp-controller="Book" asp-action="Genre" asp-route-genre="@book.Genre"><h4>@book.Genre</h4></a>
                
                @await Html.PartialAsync("_StarsPartial", @book.Rating)

                @{
                    if(@book.Price != @book.DiscountPrice)
                    {
                        <h4 class="price" id="detail-oldprice">$@book.Price</h4>
                        <h4 class="price" id="detail-newprice">$@book.DiscountPrice</h4>
                    }
                    else
                    {
                        <h4 class="price">$@book.Price</h4>
                    }
                }
                @{
                    string strengur = "isadded" + @book.Id;
                }
                <div onclick="itemadded(@book.Id)" id="div-onclick">
                    @Html.ActionLink("Add to cart", "AddToCart",
                    "ShoppingCart", 
                    new { bookId = @book.Id }, 
                    new { @class = "addToCart btn btn-primary addcart", id = @strengur})
                </div>
                <p class="description">@book.Description</p>
                <hr>
            </div>
        </div>
    }